body{
    margin: 0%;
}
h1{
    color: white;
    font-family: fantasy;
    
}
div.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color:#023047;
}
    .botones button{
        display: block;
        margin: auto;
        margin-top: 30px;

    }