html{
    height: auto;
    min-height: 100%;
}
body{
    background:url(fondo.png),  linear-gradient(#219ebc, #b4def1  );
    justify-content: center;
      align-items: center;
      height: 100vh; /* Ocupa toda la altura de la ventana */
      margin: 0;
     
     }
h1{
    text-align: center;
    color: #ffb703 !important;
font-size: 50px !important;
font-family: fantasy !important;
margin-top: 45px !important;
}
h2{
    text-align: center;
   color:#023047;
}

    div.contenedor, .contenedordos{
        display: block;
        
       
        margin: 0 30px !important; 
        position: relative;
    text-align: center;
  
}
form{
   border-radius: 15px ;border: #023047,solid;
    text-align: center;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: hsla(0, 0%, 0%, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-success{
    margin: auto;
    display: block !important;


}

.form-control{
   margin: auto;
}
.olvide{
    text-align: center;

}
div.nuevo{
    color: white ;
    text-align: center;
    font-family: inherit;
    background-color:  #42b72a;
    border-color: #42b72a;
    margin: 50px 30px;
    border-radius: 6px;
   padding: 25px 50px;


    
}
div.elemento{
    color: #023047;
    font-family: ;
    margin-top: 15px;

}
.contenedor input{

    width: 100%;
  
}


.contenedor.dos{
    border-radius: 10px;
    background:rgba(gray.5);
    text-align: center;
    margin: 50px auto;
    width: 500px;
    margin: 50px auto;
}
.contenedor.dos input{
    width: 100%;
}
.elemento.boton{
    width: 50%;
    margin: 30px auto;
}
.form-label{
    color: #ffffffeb;
}
label{
    color: #ffffffeb;
}