html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#219ebc, #b4def1  );
   
   
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ocupa toda la altura de la ventana */
      margin: 0;
}
h1{
    text-align: center;
    color: #ffb703;
font-size: 50px;
font-family: fantasy;
}
h2{
    text-align: center;
   color:#023047;
}
.contenedor{
    width: 300px;
      height: 200px;
      background-color: #1a211a ;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
   
    
  
}
form{
    width: 90%;
}
.olvide{
    text-align: center;

}
div.nuevo{
    color: white;
    text-align: center;
    font-family: inherit;
    background-color:  #42b72a;
    border-color: #42b72a;
    margin: 50px 30px;
    border-radius: 6px;
   padding: 25px 50px;


    
}
div.elemento{
    color: #023047;
    font-family: ;
    margin-top: 15px;

}
.contenedor input{

    width: 60%;
  
}

input[type="submit"]{
    color:white;
    background-color: #023047;
}
.contenedor.dos{
    border-radius: 10px;
    background:rgba(gray.5);
    text-align: center;
    margin: 50px auto;
    width: 500px;
    margin: 50px auto;
}
.contenedor.dos input{
    width: 100%;
}
.elemento.boton{
    width: 50%;
    margin: 30px auto;
}